.back{
  background: url(../../assets/images/back.png) 100% 100% no-repeat ;
  height: 100%;
}
ion-title{
  text-align: center;
}
.toolbare{
  background-color: #4D4D73;
}
.separ{
  margin-top: 15px;
}
.menuu ion-img{
  width: 40px;
  height: 30px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: #4D4D73;
  font-size: 20px;
}
.gauch{
  max-width: 30%;
}
hr{
  margin-top: 5px;
}
.sidee{
  max-width: 50%;
  margin: 0 auto;
}
.drte ion-img{
  width: 40px;
  height: 30px;
  margin: 0 auto;
}
