<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header >
      <ion-toolbar translucent >
         <div class="col sidee">
          <ion-img src="assets/images/KaaJate.png"></ion-img>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="menuu">
            <div class="row ">
              <div class="col gauch">
                <ion-img routerLink='/home' src="assets/images/home.png"></ion-img>
              </div>
              <div class="col">
                   <a href="/home">Accueil</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img routerLink='/cahome' src="assets/images/ca.png"></ion-img>
              </div>
              <div class="col">
                <a href="/cahome">CA</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/service.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Services</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/Document.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Documents</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/registre.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Registre</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/credit.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Crédit</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/depense.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Débit</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/parametre.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Paramètre</a>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col gauch">
                <ion-img src="assets/images/exit.png"></ion-img>
              </div>
              <div class="col">
                <a href="">Fermer</a>
              </div>
            </div>
            <hr>

      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary" >
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Chiffre d'Affaire</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-content >
  <div class="back">
    <!-- les chiffres debut -->
    <div class="container bac">
      <ion-searchbar></ion-searchbar>
    </div>
    <hr>
    <ion-button routerLink='/home' fill="outline" expand="block" type="submit" >
      Ajouter
  </ion-button>
    <!-- les chiffres fin -->
    <!-- les bloc -->
  <div class="container">
<!-- parti 1 -->
<div class="row">
  <div class="col">
    <a href="">Chiffre d'affaire CSC</a>
  </div>
  <div class="col gauch drte">
    <ion-img src="assets/images/view.png"></ion-img>
  </div>
</div>
<hr>
    <!-- parti 1 fin -->

  </div>
    <!-- les bloc fin-->
</div>
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="speakers">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Paramètre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
</ion-content>
</div>
</ion-app>
