.back{
    background: url(../../assets/images/back.png) 100% 100% no-repeat ;
    height: 100%;
  }
  ion-title{
    text-align: center;
  }
  .cover{
    background-color: #fff;
    box-shadow: 5px 5px 12px #4D4D73;
    text-align: center;
    border-style:ridge;
    width:auto;
  }
  .cover ion-img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .cover a{
    font-size: 20px;
    font-weight: bold;
    color: #4D4D73;
    text-decoration: none;
  }
  .toolbare{
    background-color: #4D4D73;
  }
  // span{
  //   font-size: 18px;
  //   font-weight: bold;
  //   text-align: center;
  // }
  .separ{
    margin-top: 15px;
  }
  .menuu ion-img{
    width: 40px;
    height: 30px;
    margin: 0 auto;
  }
  .menuu a{
    text-decoration: none;
    color: #4D4D73;
    font-size: 20px;
  }
  .gauch{
    max-width: 30%;
  }
  hr{
    margin-top: 5px;
  }
  .sidee{
    max-width: 50%;
    margin: 0 auto;
  }
  
  