.back{
  background: url(../../assets/images/back.png) 100% 100% no-repeat ;
  height: 100%;
}
.bac ion-img{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
}
ion-button {
  margin: 20px auto;
  width: 150px;
  background-color: #4D4D73;
  border-radius: 5px;
  border: #4D4D73;
  color: #fff;
}
.mad {
background: transparent;
}
.madi {
  border: solid #4D4D73;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
}



