
<ion-content >
  <div class="back">
      <div class="bac">
        <ion-img  src="assets/images/Kaa2.png"></ion-img>
      </div>
  <form autocapitalize="off">
    <ion-card class="mad">
        <ion-input class="madi" type="text" name="login" placeholder="    Ancien"></ion-input>
        <ion-input class="madi"  type="password" name="password" placeholder="     Nouveau"></ion-input>
        <ion-input class="madi"  type="password" name="password" placeholder="     Confirme"></ion-input>
        <ion-button fill="outline" expand="block" type="submit" >
        Validez
    </ion-button>
    </ion-card>
  </form>
</div>
</ion-content>
