
<ion-content >
  <div class="back">
      <div class="bac">
        <ion-img  src="assets/images/Kaa2.png"></ion-img>
      </div>
  <form autocapitalize="off">
    <ion-card class="mad">
        <ion-input class="madi" type="text" name="login" placeholder="     Nom d'utilisateur"></ion-input>
        <ion-input class="madi"  type="password" name="password" placeholder="     Mot de passe"></ion-input>
        <p><a href="#">Mot de passe oublier ?</a></p>
        <ion-button fill="outline" expand="block" routerLink='/login' type="submit" >
        Connexion
    </ion-button>
    </ion-card>
  </form>
</div>
</ion-content>
